<div class='interest_result_main'>
  <div class='customer_data_line'>
    <div class='interest_result_category'>
      お客様氏名
    </div>
    <div class='flex_left interest_result_data'>
      <div class='first_name_column'>
        <%= customer.last_name %>
      </div>
      <div>
        <%= customer.first_name %>
      </div>
    </div>
  </div>
  <div class='customer_data_line'>
    <div class='interest_result_category'>
      質番号
    </div>
    <div class='interest_result_data'>
      <%= pawn.id %>
    </div>
  </div>
  <div class='customer_data_line'>
    <div class='interest_result_category'>
      品物名
    </div>
    <div class='interest_result_data'>
      <%= pawn.item_name %>
    </div>
  </div>
  <div class='customer_data_line'>
    <div class='interest_result_category'>
      金額
    </div>
    <div class='interest_result_data'>
      <%= pawn.item_price.to_s(:delimited) %>円
    </div>
  </div>
  <div class='customer_data_line'>
    <div class='interest_result_category'>
      今回利息
    </div>
    <div class='interest_result_data'>
      <%= @interest.interests_number %>回
    </div>
  </div>
  <div class='customer_data_line'>
    <div class='interest_result_category'>
      累計利息
    </div>
    <div class='interest_result_data'>
      <%= Interest.total_interest(pawn.id) %>回
    </div>
  </div>
  <div class='customer_data_line'>
    <div class='interest_result_category'>
      入質日
    </div>
    <div class='interest_result_data'>
      <%= pawn.created_at.strftime("%Y年%m月%d日") %>
    </div>
  </div>
  <div class='customer_data_line'>
    <div class='interest_result_category'>
      期限
    </div>
    <div class='interest_result_data'>
      <%= pawn_timelimit(pawn.id) %>
    </div>
  </div>
</div>
