<div class='pawn_result_main'>
  <div class='interest_search_data_box'>
    <div class='customer_data_line'>
      <div class='interest_category'>
        質番号
      </div>
      <div class='interest_search_result_data'>
        <%= pawn[:id] %>
      </div>
    </div>
    <div class='customer_data_line'>
      <div class='interest_category'>
        お客様氏名
      </div>
      <div class='interest_search_result_data'>
        <%= pawn[:name] %>
      </div>
    </div>
    <div class='customer_data_line'>
      <div class='interest_category'>
        品物名
      </div>
      <div class='interest_search_result_data'>
        <%= pawn[:item_name] %>
      </div>
    </div>
    <div class='customer_data_line'>
      <div class='interest_category'>
        金額
      </div>
      <div class='interest_search_result_data'>
        <%= pawn[:price].to_s(:delimited) %>円
      </div>
    </div>
    <div class='customer_data_line'>
      <div class='interest_category'>
        利息金額
      </div>
      <div class='interest_search_result_data'>
        <%= interest_calculator(pawn[:price]) %>円
      </div>
    </div>
    <div class='customer_data_line'>
      <div class='interest_category'>
        備考
      </div>
      <div class='interest_search_result_data'>
        <%= pawn[:remarks] %>
      </div>
    </div>
    <div class='customer_data_line'>
      <div class='interest_category'>
        入質日
      </div>
      <div class='interest_search_result_data'>
        <%= pawn[:date] %>
      </div>
    </div>
    <div class='customer_data_line'>
      <div class='interest_category'>
        合計利息回数
      </div>
      <div class='interest_search_result_data'>
        <%= pawn[:total_interest] %>回
      </div>
    </div>
    <div class='customer_data_line'>
      <div class='interest_category'>
        期限
      </div>
      <div class='interest_search_result_data'>
        <%= pawn_timelimit(pawn[:id]) %>
      </div>
    </div>
  </div>
  <div class='interest_search_choise_box white_border data_back'>
    <% if params[:format] == "interest" %>
      <%= link_to new_interest_path(pawn[:id]), data: { confirm: 'このお客様でよろしいですか?' } do %>
        <div class='choise_btn'>
          選択
        </div>
      <% end %>
    <% elsif params[:format] == "return" %>
      <%= link_to status_edit_pawns_path(pawn[:id], process: "return"), data: { confirm: 'このお客様でよろしいですか?' } do %>
        <div class='choise_btn'>
          選択
        </div>
      <% end %>
    <% elsif params[:format] == "forfeit"  %>
      <%= link_to status_edit_pawns_path(pawn[:id], process: "forfeit"), data: { confirm: 'このお客様でよろしいですか?' } do %>
        <div class='choise_btn'>
          選択
        </div>
      <% end %>
    <% end %>
  </div>
</div>
