<body class='main'>
  <div class='title-contents'>
    <div class='title'>
      PawnshopManager
    </div>
  </div>
  <div class='first_line button_lines'>
    <div class='first_line_button'>
      <%= link_to pawns_path do %>
        <div class='buttons top_page_btn'>
          入質
        </div>
      <% end %>
    </div>
    <div class='first_line_button'>
      <%= link_to interests_path do %>
        <div class='buttons top_page_btn'>
          利息
        </div>
      <% end %>
    </div>
    <div class='first_line_button'>
      <%= link_to purchases_path do %>
        <div class='buttons top_page_btn'>
          買取
        </div>
      <% end %>
    </div>
  </div>
  <div class='second_line button_lines'>
    <div class='second_line_button'>
      <%= link_to status_input_pawns_path("return") do %>
        <div class='buttons top_page_btn'>
          質返還
        </div>
      <% end %>
    </div>
    <div class='second_line_button'>
      <%= link_to status_input_pawns_path("forfeit") do %>
        <div class='buttons top_page_btn'>
          質流れ
        </div>
      <% end %>
    </div>
  </div>
  <div class='third_line button_lines'>
    <div class='third_line_button'>
      <%= link_to searchs_path do %>
        <div class='buttons top_page_btn'>
          データ検索
        </div>
      <% end %>
    </div>
  </div>
</body>