<body class='main'>
  <div class='title-contents'>
    <div class='title'>
      買取データ検索
    </div>
  </div>
<div class='interest_form'>
  <div class='search_comment'>
    検索項目を選択し、検索ワードを入力してください
  </div>
  <%= form_with(url: result_purchase_searchs_path, method: :get, local: true) do |f| %>
    <div class='search_pawn_field flex_around'>
      <%= select_tag 'column' ,options_for_select([['買取番号', 'id'], ['姓(漢字)', 'last_name'], ['姓(カタカナ)', 'last_name_kana']]) %>
      <%= f.text_area :word, class:"pawn-search-word", id:"pawn-search-word", size:"10x1", maxlength:"16" %>
      <%= f.submit "検索" ,class:"short-text-register", data: { confirm: 'この条件で検索していいですか?' } %>
    </div>
  <% end %>
</div>
    <%= render partial: "shared/back-button" , locals: { back_link: searchs_path } %>
</body>